numpy
pyarrow
# Later version 1.38.7 is breaking authentication. 
# check compatibility with other applications that depend on botocore(DMF, DSift, etc.)
boto3>=1.41
mmh3
psutil
polars>=1.9.0
python-json-logger
rich
